{% extends 'components/navbar.html' %}
{% load static %}

{% block content %}
<h1>Products</h1>

{% for product in products %}
    <div class="card" style="width: 18rem;">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static 'default.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5> <!-- Fix: Changed post.title to product.name -->
            <p class="card-text">{{ product.description }}</p> <!-- Fix: Changed post.content to product.description -->
            {% for tag in product.tags.all %}
                <a href="#" class="btn btn-secondary">{{ tag.name }}</a>
            {% endfor %}
            <a href="{{ product.id }}" class="btn btn-primary">Читать...</a> <!-- Fix: Added correct URL for product detail view -->
        </div>
    </div>
{% endfor %}

{% endblock %}