{% extends 'components/navbar.html' %}
{% load static %}

{% block content %}
<h1>Products</h1>
<!-- search -->
<form method="GET" action="">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Поиск постов" name="search" value="{{ request.GET.search }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </div>
    </div>
</form>

<!-- Tags -->
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/products/" class="btn btn-secondary">Все</a>
    {% for tag in tags %}
        <a href="?tag={{ tag.id }}" class="btn btn-secondary">{{ tag.name }}</a>
    {% endfor %}
</div>


<!-- Sort by -->
<form method="GET" action="">
    <div class="input-group mb-3">
        <select class="custom-select" name="sort">
            <option value="created_at">По дате</option>
            <option value="-created_at">По дате (обратно)</option> <!-- "-" - reverse order -->
            <option value="price">По цене</option>
            <option value="-price">По цене (обратно)</option>
            <option value="name">По названию</option>
            <option value="-name">По названию (обратно)</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Сортировать</button>
        </div>
    </div>
</form>
<div style="display: flex; flex-wrap: wrap;">

{% for product in products %}
    {% if product.user != request.user %}
    <div class="card" style="width: 18rem;">

        {% if product.image %}
            <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static 'default-image.jpg.webp' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5> <!-- Fix: Changed post.title to product.name -->
            <p class="card-text">{{ product.description }}</p> <!-- Fix: Changed post.content to product.description -->
             <p class="card-text">Автор: {{ product.user }}</p>
            {% for tag in product.tags.all %}
                <a href="#" class="btn btn-secondary">{{ tag.name }}</a>
            {% endfor %}
            <a href="{{ product.id }}" class="btn btn-primary">Читать...</a> <!-- Fix: Added correct URL for product detail view -->
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
{%endblock%}